.header {
  background: url("../../images/bg-desktop-light.jpg") no-repeat;
  position: absolute;
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 0px;

  .title {
    position: absolute;
    width: 541px;
    height: 48px;
    left: 450px;
    top: 70px;

    &-logo {
      position: absolute;
      height: 40px;
      left: 0%;
      right: 69.13%;
      top: calc(50% - 40px / 2 - 4px);

      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;

      color: #ffffff;
    }

    &-button {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 92.19%;
      right: 10%;
      top: 0.5%;
      bottom: 22.92%;
      background: url("../../images/dark-active-btn.jpg") no-repeat 50% 50% / 50%;
      text-indent: -9999px;
    }
  }
}
